<h2><%= @title %></h2>

<%= f = form_for @changeset, "#",
  id: "transaction-form",
  phx_target: @myself,
  phx_change: "validate",
  phx_submit: "save" %>

  <%= label f, :desc %>
  <%= text_input f, :desc %>
  <%= error_tag f, :desc %>

  <%= label f, :amount %>
  <%= number_input f, :amount %>
  <%= error_tag f, :amount %>

  <%= submit "Save", phx_disable_with: "Saving..." %>
</form>
